/*INICIO BOTAO COMENTARIO*/
#toggle {
    display:none;
}

#comentar{
    display: none;
    width: 100%;

}

#toggle:checked ~ #comentar{
    display: flex;
    justify-content: center;
    
}
#comentario{
    width: 100%;
    background-color: aqua;
}
.comentarr{
    width: 100%;
}
#botao,#botaocurtir{
    font-size: 25px;

}
/*FIM BOTAO COMENTARIO*/