/*INICIO BOTAO COMENTARIO*/
#toggle {
    display:none;
}

#comentar {
    display: none;
}

#toggle:checked ~ #comentar {
    display: flex;
    justify-content: center;
}
.textarea{
    width: 95%;
}
#botao,#botaocurtir{
    font-size: 25px;

}
/*FIM BOTAO COMENTARIO*/