/*INICIO BOTOES COMENTARIO,CURTIR E ENVIAR*/
i{
    font-size: 40px;
}
/*FIM BOTAO COMENTARIO*/

#comentarios{
    width: 100%;
}
#descricao{
    text-align: justify;
}
@media (max-width: 570px){

    i{
        font-size: 30px;
    }
}