@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');


* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "MontSerrat", sans-serif;
}

img {
    display: block;
}


main {
    height: 60vh;
    display: flex;
    align-items: center;
}

.main-center {
    display: flex;
    flex-wrap: wrap;
    /*background-color: red;*/
}

.container-main {
    max-width: 1280px;
    width: 100%;
    margin-left: 3.5rem;
    display: flex;
    flex-direction: column;
    align-items: start;
}

.container-main p {
    margin-top: 1.5rem;
    text-align: left;
    text-wrap: wrap;
}

.container-main button {
    width: 100px;
    margin-top: 2rem;
    border-radius: 50px;
    padding: 2px;
}

.secao-2 {
    background-color: #00CC73;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
}


.container-agenda {
    max-width: 1280px;
    width: 100%;
    margin-left: 3.5rem;
    /*background-color: aqua;*/
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: start;
}

.header-secao2 {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    /*background-color: orange;*/
}

.header-secao2 h2 {
    color: #ffffff;
}

.img-list img {
    max-width: 543px;
    max-width: 540px;
    width: 100%;
}

.img-list {
    display: flex;
    flex-direction: row;
}

.agenda-list ul {
    margin-left: 5px;
    padding: 0;
    list-style: square;
}

.agenda-list ul li {
    padding: 5rem;
    color: #ffffff;

}

.agenda-list ul li:nth-child(2) {
    margin-left: 2rem;
}

.agenda-list {
    /*background-color: chartreuse;*/
    text-align: start;
    align-content: center;
}

.secao-3 {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
}

.secao3-container {
    flex-direction: column;
    margin-left: 3.5rem;
    background-color:gray;
    width: 100%;
}

.header-secao3 {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color:slateblue;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

}



@media screen and (max-width: 992px) {
    .img-list {
        display: flex;
        flex-direction: column;
    }

    .agenda-list ul li {
        padding: 1rem;
    }

    .agenda-list ul li:nth-child(2) {
        margin-left: 0;
    }
}


