* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
}

#LeR {
    margin-top: 15px;
    display: flex;
    padding: 0;
}

.login-pg {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    flex-wrap: wrap;
    width: 100%;
}

.register-pg {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    flex-wrap: wrap;
    background-color: #05ca74;
    width: 100%;
    color: white;
}

input {
    height: 40px;
    width: 100%;
    border-radius: 7px;
    border-style: solid;
    margin-bottom: 15px;
}

label {
    display: block;
    margin-top: 10px;
}

.form>img {
    max-width: 300px;
}

.button {
    background-color: #05ca74;
    border-radius: 15px;
    border-color: #05ca74;
    border-style: none;
    color: aliceblue;
    width: 100px;
    height: 40px;
    margin-top: 15px;
}

.button-reg {
    background-color: white;
    border-radius: 15px;
    border-color: #05ca74;
    border-style: none;
    color: aliceblue;
    width: 100px;
    height: 40px;
    color: #05ca74;
    margin-top: 15px;
}