*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
}
.login-pg{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 610px;
    flex-wrap: wrap;
}
input{
    width: 100%;
    border-radius: 7px;
}
.form > img{
    max-width: 300px;
}
.buttons{
    margin-top: 15px;
    display: flex;
    justify-content: space-between      ;
}